html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0% !important;
}

#blocklyContainer {
    position: absolute;
    top: 110px;
    bottom: 50px;
    width: 100%;
}

#blocklyDiv {
    height: 100%;
}

@media only screen and (min-width: 576px) {
    .card {
        margin-top: 60px;
        margin-bottom: 60px !important;
    }
}

#helperBlocklyDiv {
    display: none;
}

#code-wrapper {
    display: none;
}

.app-header {
    z-index: 1 !important;
}

.navItem {
    color: #1F7CAF;
}

button.p-paginator-page.p-paginator-element.p-link.p-highlight {
    background-color: #66B9E7 !important;
}

button.common-button {
    background-color: #66B9E7 !important;
    border-color: #66B9E7 !important;
}

button.common-button:hover {
    background-color: #1F7CAF !important;
    border-color: #1F7CAF !important;
}

button.warning-button {
    background-color: #F1C40F !important;
    border-color: #F1C40F !important;
}

button.warning-button:hover {
    background-color: #ED990B !important;
    border-color: #ED990B !important;
}

button.danger-button {
    background-color: #C1392B !important;
    border-color: #C1392B !important;
}

button.danger-button:hover {
    background-color: #8a0f0f !important;
    border-color: #8a0f0f !important;
}

button.success-button {
    background-color: #2ECC71 !important;
    border-color: #2ECC71 !important;
}

button.success-button:hover {
    background-color: #239B56 !important;
    border-color: #239B56 !important;
}

button.login-button {
    background-color: white !important;
    border-color: white !important;
}

button.login-button:hover {
    background-color: #9c9c9c !important;
    border-color: #9c9c9c !important;
}
