#btnPlay {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    padding: 0.5em 2.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
}

#btnPlay:hover {
    background-color: white;
    color: #4CAF50;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

#navbarDropdown {
    color: black;
}

.container {
    margin: 2em;
    padding: 0px !important;
    width: 100%;
    height: 80%;
}

.row {
    padding: 1% 0% !important;
}

.row .col-10 .workspace_title {
    font-size: 2rem;
    margin-top: 1rem;
}

#blocklyDiv {
    padding: 0% !important;
}